# US insurance dataset to predict insurance cost of a person with different factors as features and cost as a target

In [72]:
import pandas as pd
import matplotlib.pyplot as plt

In [73]:
data=pd.read_csv('insurance.csv')
df= pd.DataFrame(data)

df.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

**Checking for any missing values or duplicated rows**

In [74]:
print(df.isna().sum())
print(df.duplicated().sum())

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64
1

In [75]:
print(df.info())
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB
None

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

**Encoding smoker feature for better prediction capacity**

In [76]:
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()

df['smoker_encoded']= le.fit_transform(df['smoker'])

df.head(10)

,age,sex,bmi,children,smoker,region,charges,smoker_encoded
0,19,female,27.900,0,yes,southwest,16884.92400,1
1,18,male,33.770,1,no,southeast,1725.55230,0
2,28,male,33.000,3,no,southeast,4449.46200,0
3,33,male,22.705,0,no,northwest,21984.47061,0
4,32,male,28.880,0,no,northwest,3866.85520,0
5,31,female,25.740,0,no,southeast,3756.62160,0
6,46,female,33.440,1,no,southeast,8240.58960,0
7,37,female,27.740,3,no,northwest,7281.50560,0
8,37,male,29.830,2,no,northeast,6406.41070,0
9,60,female,25.840,0,no,northwest,28923.13692,0

**Importing necessary modules**

In [77]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import root_mean_squared_error
from sklearn.metrics import r2_score
from sklearn.preprocessing import PolynomialFeatures

**Setting up features and predicting**

In [ ]:
x= df[['age','bmi','children','smoker_encoded']]
y= df['charges']

X_train, X_test, y_train, y_test= train_test_split(x,y, test_size=0.2, random_state=42)

poly= PolynomialFeatures(degree=2)

X_train_poly= poly.fit_transform(X_train)
X_test_poly= poly.fit_transform(X_test)

model= LinearRegression()

model.fit(X_train_poly, y_train)

y_pred= model.predict(X_test_poly)

**Testing R2 and RMSE score for this prediction**

In [79]:
rmse= root_mean_squared_error(y_test, y_pred)
r2= r2_score(y_test, y_pred)

print(f"RMSE: {rmse}")
print(f'R2 score: {r2}')

RMSE: 4543.2809351098995
R2 score: 0.8670430253632903