# Using regressor model of XGBoost to predict insurance costs

In [128]:
import pandas as pd
import xgboost as xgb
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import root_mean_squared_error,r2_score
from sklearn.preprocessing import OrdinalEncoder

In [129]:
data= pd.read_csv('/home/aayam/Documents/MachineLearning/DecisionTrees/insurance.csv')
df= pd.DataFrame(data)

df.head(10)

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

**encoding some categorical features for better predicitions**

In [130]:
encoder= OrdinalEncoder()

df[['sex']]= encoder.fit_transform(df[['sex']])
df[['smoker']]= encoder.fit_transform(df[['smoker']])

df.head(10)

   age  sex     bmi  children  smoker     region      charges
0   19  0.0  27.900         0     1.0  southwest  16884.92400
1   18  1.0  33.770         1     0.0  southeast   1725.55230
2   28  1.0  33.000         3     0.0  southeast   4449.46200
3   33  1.0  22.705         0     0.0  northwest  21984.47061
4   32  1.0  28.880         0     0.0  northwest   3866.85520
5   31  0.0  25.740         0     0.0  southeast   3756.62160
6   46  0.0  33.440         1     0.0  southeast   8240.58960
7   37  0.0  27.740         3     0.0  northwest   7281.50560
8   37  1.0  29.830         2     0.0  northeast   6406.41070
9   60  0.0  25.840         0     0.0  northwest  28923.13692

**initializing features and targets and predicting**

In [131]:
x= df[['age','sex','bmi','children','smoker']]
y= df['charges']

X_train, X_test, y_train, y_test= train_test_split(x,y,test_size=0.2,random_state=42)

model= xgb.XGBRegressor(
    n_estimators=100,
    max_depth=3,
    learning_rate=0.1,
    random_state=42
)

cv= cross_val_score(model,X_train,y_train, cv=5)

model.fit(X_train,y_train)

y_pred= model.predict(X_test)

rmse= root_mean_squared_error(y_test,y_pred)
r2= r2_score(y_test,y_pred)

print(f""" rmse: {rmse}\n r2:{r2}\n cv:{cv}\n mean CV:{cv.mean()}\n CV Std: {cv.std()}""")

 rmse: 4252.361336579189
 r2:0.8835251227943739
 cv:[0.8282355  0.91494938 0.82032667 0.78893314 0.85069566]
 mean CV:0.840628070044264
 CV Std: 0.04210249947219766